<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    
    <%- include("../partials/loggedNav.ejs") %>
    <div class="container-main-cart">
    <% listadoDeProductos.forEach( producto => { %>
        
        <div id=<%= producto._id %> class="elcontenedor">
            
            <img width="150px" height="150px" src=<%= producto.urlImagen %>>

            <label for="nombre"></label>
            <p class="p-producto size" name="nombre"> <%= producto.nombre %> </p>
            
            <label for="precio"></label>
            <p class="p-producto" name="precio"> $<%= producto.precio %> </p>
            
            <button class="boton-agregar">Agregar al carrito</button>

        </div>
        
    <%})                                         %>
    </div>

    <script src="../../main.js"></script>
</body>
</html>